/* We need a BIGGER terminal */
.terminal-container.big {
  box-shadow: 10px 10px 0px #121212;
  border: 2px solid #121212;
  min-height: 250px;
  min-width: 650px;
  padding: 15px;
  height: 75%;
  width: 90%;
}

.title {
  margin-top: 0px;
}

.terminal-form.big {
  font-size: 2em;
}

.stdout.big {
  font-size: 1.75em;
  line-height: 40px;
}
