.separator {
  border-bottom: 3px solid #262626;
  margin: 20px;
}

.projects-content {
  padding-bottom: 75px;
  padding-top: 15%;
  width: 50%;
}

.project-name {
  text-align: center;
  font-size: 1.6em;
  padding: 20px;
}

.project-image {
  border: 3px solid #262626;
  height: 150px;
  width: 150px;
}

.project-container {
  align-items: center;
  display: flex;
}

.project-text {
  padding-left: 20px;
}
