.terminal-container.small {
  border-top: 2px solid #121212;
  width: calc(100% - 20px);
  position: fixed;
  padding: 10px;
  bottom: 0;
  left: 0;
}

.terminal-form.small {
  font-size: 1.5em;
}

.stdout.small {
  font-size: 1.3em;
  line-height: 22px;
}
