body {
  background-color: #1b1b1b;
  color: #9e9e9e;
  height: 100vh;
  margin: unset;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.title {
  font-weight: normal;
  font-size: 3em;
}

a, a:visited {
  text-decoration: unset;
  color: #ac4142;
}

.terminal-container {
  box-shadow: 10px 10px 0px #121212;
  background-color: #262626;
  border: 2px solid #121212;
}

.terminal-form {
  font-family: monospace;
  align-items: center;
  display: flex;
  height: 15%;
}

.stdout-container {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  height: 85%;
}

.stdout {
  margin-top: auto;
}

#terminal-input {
  background-color: transparent;
  font-family: monospace;
  font-weight: normal;
  padding-left: 5px;
  font-size: 1em;
  outline: unset;
  border: unset;
  margin: unset;
}
