/* ----------------------- */
/* --- General Classes --- */
/* ----------------------- */
body {
  background-color: #1b1b1b;
  color: #9e9e9e;
  height: 100vh;
  margin: unset;
}

/* Flexbox stuff */
.hcenter {
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%;
}

.vcenter {
  justify-content: center;
  flex-direction: column;
  display: flex;
  height: 100%;
}

.columns {
  justify-content: space-evenly;
  display: flex;
  width: 100%;
}

/* Main title for each page */
.title {
  font-weight: normal;
  font-size: 3em;
}

/* Links */
a, a:visited {
  text-decoration: unset;
  color: #ac4142;
}

/* ---------------------- */
/* --- Subpage Styles --- */
/* ---------------------- */
.subpage-container {
  max-width: 50vw;
}

.subpage-container > .title {
  position: relative;
  margin: unset;
  height: 0px;
  top: -2em;
}


/* ------------------------ */
/* --- Terminal Section --- */
/* ------------------------ */

.terminal-container {
  background-color: #262626;
}

.terminal-form {
  font-family: monospace;
  align-items: center;
  display: flex;
  height: 15%;
}

/* Terminal output */
.stdout-container {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  height: 85%;
}

.stdout {
  margin-top: auto;
}

/* Terminal input */
#terminal-input {
  background-color: transparent;
  font-family: monospace;
  font-weight: normal;
  padding-left: 5px;
  color: #9e9e9e;
  font-size: 1em;
  outline: unset;
  border: unset;
  margin: unset;
  width: 100%;
}

/* Hidden text for getting file names for links */
.link-title {
  display: none;
}

/* Syntax highlighting for `ls` output */
.dir {
  color: #6a9fb5;
}

.file {
  color: #90a959;
}
