<!DOCTYPE html>
<html lang="en">

<head>
    <title>UndeadLeech</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="I'm an aspiring software developer who always has some projects going on. Here you can check them out!">
    <meta name="keywords" content="portfolio,html,css,javascript,c#,python,rust,c++,programming">
    <meta name="author" content="Christian 'UndeadLeech' Dürr">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"/>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <!-- Materialize -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <!-- /Materialize -->

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- MY STUFF -->
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <header>
        <nav class="transparent">
            <div class="nav-wrapper container">
                <a id="nav-name" href="/">UndeadLeech</a>
                <div id="header-mobile-links" class="row center-align hide-on-large-only">
                    <div class="col s3">
                        <a href="/about">About</a>
                    </div>
                    <div class="col s3">
                        <a href="/projects">Projects</a>
                    </div>
                    <div class="col s3">
                        <a href="/skills">Skills</a>
                    </div>
                    <div class="col s3">
                        <a href="/contact">Contact</a>
                    </div>
                    <div class="col s6">
                        <a href="https://github.com/UndeadLeech" target="_blank" rel="noopener noreferrer">
                            <i class="fa fa-github-square" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col s6">
                        <a href="https://twitter.com/UndeadLeech" target="_blank" rel="noopener noreferrer">
                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col s12 spacer"></div>
                </div>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/about">About Me</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/skills">Skills</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li>
                        <a href="https://github.com/UndeadLeech" target="_blank" rel="noopener noreferrer">
                            <i class="fa fa-github-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/UndeadLeech" target="_blank" rel="noopener noreferrer">
                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container full-size valign-wrapper">
        <div class="row">
           <div class="col s12">
               <h4>CONTACT</h4>
               {% for paragraph in contact %}
               <p>{{ paragraph }}</p>
               {% endfor %}
           </div>
        </div>
    </div>

    <!-- Load JS at end -->
    <script src="/js/index.js"></script>
</body>
</html>
