<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Christian Dürr</title>
    <meta charset="utf-8">
    <meta name="description" content="Christian Dürr Web Portfolio">
    <meta name="author" content="Christian Dürr">
  </head>
  <body>
    {{ body }}
  </body>
</html>
