body {
  background-color: #121212;
  color: #4e4e4e;
}

nav {
    box-shadow: none;
}

nav a, nav ul a {
    color: #4e4e4e;
    font-weight: 500;
}

#nav-name {
    font-weight: bold;
    font-size: 1.4rem;
}

@media only screen and (max-width: 992px) {
    .nav-wrapper {
        text-align: center;
    }
}

.full-size {
  min-height: 90vh;
  overflow: hidden;
}

.container {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 1500px !important
}

.row {
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

p {
    font-size: 1.2rem;
}

a {
    color: #870000;
}

/* INTRO PAGE */
#intro-img {
  width: 50vh;  
}

@media all and (orientation: portrait) {
    #intro-img {
        width: 50vw;
    }
}

.legal-notice {
    padding: 5px;
    font-size: 10px;
}

/* ABOUT PAGE */
.about {
    font-size: 1.4rem;
}

/* SKILLS PAGE */
.skills h2 {
    margin-bottom: 0;
}

.skills p {
    margin-top: 0;
    margin-bottom: 1.4rem;
}

.progress {
    background-color: #262626 !important;
    height: 25px !important;
}

.progress .determinate {
    color: #121212 !important;
    background-color: #4e4e4e !important;
    text-align: left !important;
    font-weight: 600 !important;
    padding-left: 3rem !important;
}

/* CONTACT PAGE */
h2 a {
    font-size: 3rem;
}
