body {
  background-color: #121212;
  color: #a0a0a0;
  font-family: 'Open sans';
  font-weight: 600;
  font-size: 16px;
}

@media all and (max-device-width: 600px) {
    body {
        font-size: 12px;
    }
}

.full-size {
  height: 100vh;
  overflow: hidden;
}

.container {
  margin-left: auto !important;
  margin-right: auto !important;
}

.row {
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

#intro-img {
  cursor:pointer;
  width: 50vh;  
  transition: all 0.75s linear;
}

#intro-img.show {
    width: 15vh;
}

@media all and (orientation: portrait) {
    #intro-img {
        width: 50vw;
    }

    #intro-img.show {
        width: 15vw;
    }
}

#intro-content {
  opacity: 0;
  height: 0;
  transition: all 0.75s linear;
  overflow: hidden;
  padding: 10px;
}

#intro-content.show {
  opacity: 1;
}

.project {
    width: 100%;
    padding: 10px !important;
    padding-bottom: 25px !important;
}

.project-img {
    width: 75%;
}

.modal-footer, .modal, .btn-flat {
  background-color: #121212 !important;
  color: #a0a0a0 !important;
}

.legal-notice {
  padding: 5px;
  font-size: 10px;
}
