body {
  background-color: #121212;
  color: #4e4e4e;
}

nav {
    box-shadow: none;
}

nav a, nav ul a {
    color: #4e4e4e;
    font-weight: 500;
}

#nav-name {
    font-weight: bold;
    font-size: 1.4rem;
}

@media only screen and (max-width: 992px) {
    .nav-wrapper {
        text-align: center;
    }
}

.full-size {
  height: 100vh;
  overflow: hidden;
}

.container {
  margin-left: auto !important;
  margin-right: auto !important;
}

.row {
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

#intro-img {
  width: 50vh;  
}

@media all and (orientation: portrait) {
    #intro-img {
        width: 50vw;
    }
}

.legal-notice {
    padding: 5px;
    font-size: 10px;
}
