body {
  background-color: #121212;
  color: #4e4e4e;
  line-height: 1.6;
}

nav {
    box-shadow: none;
}

nav a, nav ul a {
    color: #4e4e4e;
    font-weight: 500;
}

#nav-name {
    font-weight: bold;
    font-size: 1.4rem;
}

@media only screen and (max-width: 992px) {
    .nav-wrapper {
        text-align: center;
    }
}

.full-size {
  min-height: 90vh;
  overflow: hidden;
}

.container {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 1200px !important
}

.row {
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

p {
    font-size: 1.2rem;
}

a {
    color: #801414;
}

footer {
    padding-left: 5px;
    padding-right: 5px;
    background-color: inherit !important;
}

/* INTRO PAGE */
#intro-img {
  width: 50vh;  
}

@media all and (orientation: portrait) {
    #intro-img {
        width: 50vw;
    }
}

.legal-notice {
    padding: 5px;
    font-size: 10px;
}

/* ABOUT PAGE */
.about {
    font-size: 1.4rem;
}

/* SKILLS PAGE */
.skills h2 {
    margin-bottom: 0;
}

.skills p {
    margin-top: 0;
    margin-bottom: 1.4rem;
}

.progress {
    background-color: #262626 !important;
    height: 25px !important;
}

.progress .determinate {
    color: #121212 !important;
    background-color: #4e4e4e !important;
    text-align: left !important;
    font-weight: 600 !important;
    padding-left: 3rem !important;
}

/* PROJECTS PAGE */
/* Set image height */
.card-image {
    height: 350px !important;
    width: 100% !important;
}

.card-image img {
    width: initial !important;
}

.card, .card-reveal {
    background-color: #262626 !important;
}

.card-content, .card-title {
    color: #a0a0a0 !important;
}

.card-text {
    color: #4e4e4e !important;
    text-align: left;
}

.card-link {
    font-size: 35px;
}
